<section>
    <section id="title">
        <h1>ToDoList</h1>
        <button class="btn-blue" id="sorting">Sorting</button>
    </section>
    <section class="content">
        <ul class="content-display" id="DONE">
            <article class="content-title">
                <h3>DONE</h3>
            </article>
        </ul>
        <ul class="content-display" id="DOING">
            <article class="content-title">
                <h3>DOING</h3>
            </article>
        </ul>
        <ul class="content-display" id="TODO">
            <article class="content-title">
                <h3>TODO</h3>
            </article>
        </ul>
    </section>
</section>